.box {
    position: relative;
    width: 100px;
    height: 100px;
    border:2px red solid;
    border-radius: 50%;
    margin: 20px;
    /* animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: 2s;
    animation-timing-function: ease-in; */
    animation: myanimation 2s infinite linear;
    /* clip-path: circle(50% at 49% 0); */
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
    .other-box{
        position: absolute;
        top: 10px;
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
    }

}

@keyframes myanimation {
    100%{
        transform: rotate(360deg);
    }
}


/* @keyframes myanimation {
    0% {
        left: 0;
        top: 0;
    }
    25%{
        left: 500px;
        top: 0px;
        background-color: green;
        width: 200px;
    }
    50%{
            left: 500px;
            top: 500px;
            width: 100px;
            transform: rotate(360deg);
    }
    75%{
        left: 0px;
        top: 500px;
        border-radius: 50%;
    }
    100%{
        left: 0;
        top: 0;
    }
} */


/* @keyframes myanimation {
    from{
        left: 0;
    }
    to{
        left: 200px;
    }
} */