body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {

    list-style: none;
}

a {
    text-decoration: none;
}

header {
    ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;

        li {
            border: 1px solid #000;
            margin: 5px;
            /* &:nth-child(1){
                grid-column: 1/3;
            } */

        }
    }
}

.hero{
    margin:  20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: 300px;
    gap: 10px;
    *{
        border: 1px solid #000;
    }
}

@media (max-width:900px) {
    header{
        ul{
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .hero{
        display: grid;
        grid-template-columns: auto;
    }
}

